body {
    background: #23a6d5;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}



.table {
border: 2px solid red;
}

header{
    background-color: #333;
    text-align: center;
    color: #fff;
    padding: 0px 30px 0px 30px;
    display: inline-block;
    position: fixed;
    top: 0;
    height: 9%;
    width: 100%;
}

#formContainer{
    width:40%;
    padding-top: 110px;
    margin:auto;
}
#formC{
    width:100%;
}
.label{
    width:30%
    float:left;
}
.input{
    width:60%;
    float:right;
}